body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    width: 100%;
    text-align: center;
    background-color: blanchedalmond;
}

input {
    width: 136px;
    border-radius: 5px;
    text-align: center;
    font-weight: 1000;
    border: transparent;
}

.titulos h2 {
    width: 110px;
    box-shadow: 0px 2px  blanchedalmond ;
    text-align: center;
}

.titulos h4 {
    width: 110px;
    box-shadow: 0px 2px  blanchedalmond;
    text-align: center;
}




#boton {
    margin-top: 5px;
    padding: 10px 50px;
    background-color: aquamarine;
    font-weight: 1000;
}